.formInner {
    display: flex; /*default ist flex-direction: row */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.3rem
}

.btnd {
    background-color: aqua;
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: black
}

.btnd:hover{
    background-color: darkcyan;
    color: white
}